.reverseImg {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 3rem;
}

.ErrorMessage {
    color: red;
    display: flex;
    justify-content: right;
    height: 1rem;
}

.kurs {
    display: flex;
    justify-content: center;
}

.Container {
    max-width: 20rem;
}